<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body>

    <a href="/contact/as/">
        contact mai aagye ho tm
    </a>

    <h1>About Us</h1>

    <p>
        Welcome to our website! We are learning web development using Django.
    </p>

    <h2>Who We Are</h2>
    <p>
        We are students who love coding and building web applications.
    </p>

    <h2>Our Mission</h2>
    <p>
        Our mission is to create simple and useful websites.
    </p>

    <h2>Contact</h2>
    <p>
        Email: example@gmail.com <br>
        Phone: 9876543210
    </p>
    
</body>
</html>